

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2 
2. Pandas
3. Numpy
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Describe key Data Science libraries and tools.
- Demonstrate basic arithmetic operations in Python.
- Convert time units (e.g., minutes to hours) using Python.
- Create and render Markdown cells in a Jupyter Notebook.

## Author

Manuel Garcia-Mancha Castellanos